<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">

<head>
    <title>Spring Thyme Seed Starter Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
            href="https://fonts.googleapis.com/css2?family=Lemon&family=Noto+Sans+KR:wght@100;300&display=swap"
            rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/studentMain.css">
    <link rel="stylesheet" href="/css/assignStudent.css">
</head>
<body>
<div th:replace="/fragments/navBar/studentNavBar.html :: navFragment(${session.loginUserInfo.name})"></div>
<div class="side-bar">
    <div class="side-title">
        실습 과제
    </div>
    <div class="side-con">
        <div th:each="assign : ${assignList}" class="side-assign" th:onclick="getAssign([[${assign}]])">
            <span th:text="${assign.title}" style="margin-left: 4%;"></span>
        </div>
    </div>
</div>
<div class="root-container">
    <div class="assign-container" id="container" style="display: none">
        <div class="assign-title" id="title"></div>
        <hr>
        <div class="assign-content" id="content"></div>
        <div class="assign-buttons" style="position: relative">
            <form name="assignSubmit" style="bottom: 30%; left: 6%; position: absolute;">
                <input name="file"  type="file" />
                <input type="hidden" name="refUserId" />
            </form>
            <div>과제 다운로드</div>
            <div onclick="assignPost()">과제 제출하기</div>
        </div>
        <hr>
        <div class="assign-bottom">
            <div class="assign-comment-title">교수자 코멘트</div>
            <div class="assign-comment"></div>
        </div>
    </div>
    <div class="back-container">
        <a th:href='${ #request.getHeader("referer") }' class="assign-back">뒤로가기</a>
    </div>
</div>
<script th:inline="javascript">
    /* <![CDATA[ */

        window.onload = () => {
            let message = /*[[ ${message} ]]*/;
            if (message) {
                alert(message);
            }
             message = null;
        }

    const container = document.getElementById("container");
    const title = document.getElementById("title");
    const content = document.getElementById("content");
    var assignId;

    function assignPost() {
        let theForm = document.assignSubmit;
        theForm.refUserId = assignId;
        console.log(theForm.refUserId);
        theForm.method = "post";
        theForm.enctype = "multipart/form-data";
        theForm.action = "/studentAssignRegister";
        theForm.submit();
    }

    function getAssign(assign){
        container.style.display = "block";
        title.innerText = assign.title;
        content.innerText = assign.content;

		assignId = assign.id;
    }
    /* ]]> */
</script>
<!--<script>-->
<!--    const container = document.getElementById("container");-->
<!--    const title = document.getElementById("title");-->
<!--    const content = document.getElementById("content");-->
<!--    var assignId;-->

<!--    function assignPost() {-->
<!--        let theForm = document.assignSubmit;-->
<!--        theForm.refUserId = assignId;-->
<!--        console.log(theForm.refUserId);-->
<!--        theForm.method = "post";-->
<!--        theForm.enctype = "multipart/form-data";-->
<!--        theForm.action = "/studentAssignRegister";-->
<!--        theForm.submit();-->
<!--    }-->

<!--    function getAssign(assign){-->
<!--        container.style.display = "block";-->
<!--        title.innerText = assign.title;-->
<!--        content.innerText = assign.content;-->
<!--&lt;!&ndash;        const xhr = new XMLHttpRequest();&ndash;&gt;-->
<!--&lt;!&ndash;			xhr.onload = function() {&ndash;&gt;-->
<!--&lt;!&ndash;			    if (xhr.status == 200) {&ndash;&gt;-->
<!--&lt;!&ndash;                    console.log(xhr);&ndash;&gt;-->
<!--&lt;!&ndash;                    const str = xhr.responseText;&ndash;&gt;-->
<!--&lt;!&ndash;                    console.log(str);&ndash;&gt;-->
<!--&lt;!&ndash;                    const obj = JSON.parse(str);&ndash;&gt;-->
<!--&lt;!&ndash;                    console.log(obj);&ndash;&gt;-->
<!--&lt;!&ndash;				}&ndash;&gt;-->
<!--&lt;!&ndash;			}&ndash;&gt;-->
<!--&lt;!&ndash;	    xhr.open("GET", `/studentComment/${assign.id}`, true);&ndash;&gt;-->
<!--&lt;!&ndash;		xhr.send();&ndash;&gt;-->
<!--		assignId = assign.id;-->
<!--    }-->

<!--</script>-->
</body>
</html>