<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">

<head>
    <title>Spring Thyme Seed Starter Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
            href="https://fonts.googleapis.com/css2?family=Lemon&family=Noto+Sans+KR:wght@100;300&display=swap"
            rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/studentMain.css">
    <link rel="stylesheet" href="/css/assignStudent.css">
</head>
<body>
<div th:replace="/fragments/navBar/studentNavBar.html :: navFragment(${session.loginUserInfo.name})"></div>
<div class="side-bar">
    <div class="side-title">
        실습 과제
    </div>
    <div class="side-con">
        <div th:each="assign : ${assignmentList}" class="side-assign" th:onclick="|location.href='@{/studentAssign/{id}(id=${assign.id})}'|">
            <span th:text="${assign.title}" style="margin-left: 4%;">></span>
        </div>
    </div>
</div>

<div class="assign-container">
    <div class="assign-title" th:text="${assignmentDetail.title}"><span class="assign-back">뒤로가기</span></div>
    <hr>
    <div class="assign-content" th:text="${assignmentDetail.content}"></div>
    <div class="assign-buttons">
        <div><span id="assignOpen" aria-haspopup="dialog" onClick="assignSubmit('01')">과제 다운로드</span></div>
        <div>과제 제출하기</div>
    </div>
    <hr>
    <div class="assign-bottom">
        <div class="assign-comment-title">교수자 코멘트</div>
        <div class="assign-comment"></div>
<!--        <a th:href='${ #request.getHeader("referer") }' class="assign-back" >뒤로가기</a>-->
    </div>
</div>
<div style="margin-top: 42%;margin-bottom: 4%;">
    <a th:href='${ #request.getHeader("referer") }' class="assign-back" >뒤로가기</a>
</div>

<script>
    const container = document.getElementById("container");
    const title = document.getElementById("title");
    const content = document.getElementById("content");

    function getAssign(assign){
        container.style.display = "block";
        title.innerText = assign.title;
        content.innerText = assign.content;
    }
</script>
</body>
</html>