<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">

<head>
    <title>Spring Thyme Seed Starter Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
            href="https://fonts.googleapis.com/css2?family=Lemon&family=Noto+Sans+KR:wght@100;300&display=swap"
            rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/studentMain.css">
    <link rel="stylesheet" href="/css/assignStudent.css">
</head>
<body>
<div th:replace="/fragments/navBar/studentNavBar.html :: navFragment(${session.loginUserInfo.name})"></div>
<div th:if="${assignmentList!=null}">
    <div class="side-bar">
        <div class="side-title">
            실습 과제
        </div>
        <div class="side-con">
            <div class="side-assign" th:each="assign : ${assignmentList}"
                 th:onclick="|location.href='@{/student/assign/{id}(id=${assign.id})}'|">
                <span th:text="${assign.title}" style="margin-left: 4%;"></span>
            </div>
        </div>
    </div>
    <div class="root-container">
        <div class="assign-container" id="container">
            <div class="assign-title" id="title" th:text="${assignmentDetail.title}"></div>
            <hr>
            <div class="assign-content" id="content" th:text="${assignmentDetail.content}"></div>
            <div class="assign-buttons" style="position: relative">
                <form name="assignSubmit" th:object="${AssignmentDetailsDto}" style="bottom: 30%; left: 6%; position: absolute;">
                    <input type="text" style="display:none">
                    <input name="file" th:field="*{file}" type="file"/>
                    <input type="hidden" th:field="*{refAssignmentId}" name="refUserId"/>
                </form>
                <div>과제 다운로드</div>
                <div onclick="assignPost()">과제 제출하기</div>
            </div>
            <hr>
            <div class="assign-bottom">
                <div class="assign-comment-title">교수자 코멘트</div>
                <div class="assign-comment" th:if="${comment!=null}">
                    <div th:each="comment : ${comment}" class="comments">
                        <span th:text="${comment.content}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="back-container">
            <a class="assign-back" th:onclick="|location.href='@{/student/home}'|">뒤로가기</a>
        </div>
    </div>
</div>
<div th:unless="${assignmentList!=null}" >
    <div class="none-assign">등록된 과제가 없습니다.</div>
</div>
<script src="/js/assignDetailStudent.js"></script>
<script th:inline="javascript">
    /* <![CDATA[ */

        window.onload = () => {
            let message = /*[[ ${message} ]]*/;
            if (message) {
                alert(message);
            }
             message = null;
        }
    /* ]]> */

</script>
</body>
</html>