<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<meta charset="UTF-8">
<title>Title</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
        href="https://fonts.googleapis.com/css2?family=Lemon&family=Noto+Sans+KR:wght@100;300&display=swap"
        rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/adminMain.css">
<link rel="stylesheet" href="/css/assignDetail.css">
</head>

<body>
<div th:replace="navBar/adminNavBar.html :: navFragment('값')"></div>
<div class="assign-title">
    <div class="assign-name" >김창헌 학생</div>
    <div class="assign-button">
        과제 다운받기
    </div>
</div>
<hr>
<div>
    <div class="comment-title">코멘트 작성</div>
    <div class="comment-area">
        <div th:each="todo : ${todoList}" class="comments">
            <span th:text="${todo.content}"></span>
        </div>
    </div>
    <textarea class="input-comment"></textarea>
    <div class="button-area"><span class="exit">나가기</span><span class="save">등록하기</span></div>
</div>
</body>
</html>