<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/studentMain.css">
</head>

<body>
<dialog id="noDialog" th:fragment="notificationModal">
    <div class="no-body">
        <div class="title" id="no-title"></div>
        <hr>
        <div class="no-content" id="no-content"></div>
    </div>
    <div class="bottom" style="text-align: center">
        <button id="noClose" style="margin-bottom: 6%; border: none; color: red">닫기</button>
    </div>
</dialog>
</body>