<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/studentMain.css">
</head>

<body>
<dialog id="todoDialog" th:fragment="todoModal">
    <form name=frmSubmit th:object="${todo}">
        <div class="body">
            <div>
                <input type="text" maxlength='28' th:field="${todo.content}" id="content" required/>
            </div>
            <div>
                <input type="date" th:field="${todo.endDate}" id="end_date" required/>
            </div>
        </div>
        <div class="bottom">
            <div>
                <button type="submit" id="sub-name">저장하기</button>
            </div>
            <div>
                <button id="btnClose" style="margin-top: 3%; margin-bottom: 3%">취소
                </button>
            </div>
        </div>
    </form>
</dialog>
</body>