<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.synergies.synergy.dao.AssignmentDao">
    <resultMap id="assignmentResultMap" type="com.synergies.synergy.domain.dto.AssignmentDto">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>
    <insert id="insertAssignment" parameterType="AssignmentVo">
        INSERT INTO ASSIGNMENTS (title, content, assignment_file)
        VALUES (#{title}, #{content}, #{assignmentFile})
    </insert>
    <select id="getTodayAssignment" resultType="com.synergies.synergy.domain.dto.AssignmentResponseDto$AssignmentDetail">
        SELECT id, title FROM ASSIGNMENTS WHERE DATE_FORMAT(reg_date, "%Y-%m-%d")=CURDATE() ORDER BY id
    </select>
    <select id="selectAllAssignment" resultType="AssignmentVo">
        SELECT * FROM ASSIGNMENTS
    </select>
    <select id="selectAllAssignmentTitle" resultType="com.synergies.synergy.domain.dto.AssignmentResponseDto$AssignmentDetail">
        SELECT id, title FROM ASSIGNMENTS ORDER BY reg_date DESC
    </select>
    <select id="selectAssignmentDetails" parameterType="int" resultType="com.synergies.synergy.domain.dto.AssignmentResponseDto$AssignmentContent">
        SELECT id, title, content, assignment_file, reg_date FROM ASSIGNMENTS WHERE id = #{assignmentId}
    </select>
    <delete id="deleteAssignment" parameterType="int">
        DELETE FROM ASSIGNMENTS WHERE id = #{assignmentId}
    </delete>
    <select id="selectRecentAssignment" resultType="com.synergies.synergy.domain.dto.AssignmentResponseDto$AssignmentContent">
        SELECT id, title, content, assignment_file, reg_date FROM ASSIGNMENTS ORDER BY reg_date DESC LIMIT 1
    </select>
    <select id="selectSubmitStudents" parameterType="int" resultType="com.synergies.synergy.domain.dto.AssignmentResponseDto$SubmitStudent">
        select ASSIGNMENT_SUBMIT.id, name from ASSIGNMENT_SUBMIT join USER on ASSIGNMENT_SUBMIT.ref_user_id = USER.id
        WHERE ASSIGNMENT_SUBMIT.ref_assignment_id = #{assignmentId}
        ORDER BY ASSIGNMENT_SUBMIT.reg_date
    </select>
    <select id="selectUnsubmitStudents" parameterType="int" resultType="com.synergies.synergy.domain.dto.AssignmentResponseDto$UnsubmitStudent">
        select USER.name from USER LEFT OUTER JOIN (select * from ASSIGNMENT_SUBMIT WHERE ref_assignment_id = #{assignmentId}) as b
        on USER.id=b.ref_user_id WHERE b.ref_user_id is null
    </select>
    <select id="selectSubmitContent" parameterType="int" resultType="com.synergies.synergy.domain.dto.AssignmentResponseDto$SubmitContent">
        select a.id, submit_file, a.reg_date, u.name from ASSIGNMENT_SUBMIT a INNER JOIN USER u on a.ref_user_id = u.id
        WHERE a.id = #{submitId}
    </select>
    <select id="selectComment" parameterType="int" resultType="com.synergies.synergy.domain.dto.AssignmentResponseDto$CommentContent">
        select id, content from COMMENTS WHERE ref_assignment_submit_id = #{submitId}
    </select>
<!--
    <insert id="insertAssignmentSubmit" parameterType="A"
-->
</mapper>