<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.synergies.synergy.dao.UserDao">
  <resultMap id="userSignInInfoResultMap" type="com.synergies.synergy.domain.dto.SignupDTO">
    <id property="id" column="id"/>
    <result property="name" column="name"/>
  </resultMap>
  <resultMap id="userLoginInfoResultMap" type="com.synergies.synergy.domain.vo.LoginUserInfoVO">
    <id property="id" column="id"/>
    <result property="name" column="name"/>
  </resultMap>
  <insert id="insertSignupUserInfo" parameterType="com.synergies.synergy.domain.dto.SignupDTO">
    INSERT INTO USER (id, user_id, password, name, email, phone_number, role)
    VALUES (#{id}, #{userId}, #{password}, #{name}, #{email}, #{phoneNumber}, #{role})
  </insert>
  <select id="selectUserLoginInfo" resultMap="userLoginInfoResultMap" parameterType="string">
    SELECT user_id, password, name, email, phone_number FROM USER WHERE user_id = #{userId};
  </select>
  <select id="selectDuplicationUser" resultType="int" parameterType="string">
    SELECT count(user_id) FROM USER WHERE user_id = #{userId};
  </select>
  <select id="selectUserPassword" resultType="string" parameterType="string">
    SELECT password FROM USER WHERE user_id = #{userId};
  </select>
</mapper>