@charset "UTF-8";
body{
 font-family: 'Noto Sans KR', sans-serif;
 }
        .side-bar{
            float: left;
            width: 15%;
            height: 90%;
            border: none;
        }
        .side-title{
            height: 12vh;
            line-height: 12vh;
            text-align: center;
            border: 1px solid #DADADA;
            border-width: 0 0 1px 0;
            font-size: 1.2rem;
        }
        .side-con{
            overflow-y: scroll;
            height: 90%;
        }
            .side-con::-webkit-scrollbar {
                width: 20px;
            }
            .side-con::-webkit-scrollbar-thumb {
                background-color: #D0D0D0;
                background-clip: padding-box;
                border: 5px solid transparent;
                border-radius: 20px;
            }
            .side-con::-webkit-scrollbar-track {
                background-color: white;
            }
        .side-assign{
            width: 100%;
            border: 1px solid #DADADA;
            border-width: 0 0 1px 0;
            height: 5vh;
            line-height: 5vh;
            cursor: pointer;
            font-size: 1rem;
        }
        .assign-container{
            float: left;
            width: 84%;
            height: 92%;
        }
        .assign-title{
            height: 5vh;
            line-height: 5vh;
            margin-left: 8%;
            margin-top: 2%;
            font-size: 1.6rem;
        }
        .assign-content{
            height: 35vh;
            margin-left: 8%;
            margin-top: 2%;
            font-size: 1.2rem;
        }
        .assign-buttons{
            height: 10vh;
            margin-top: 2%;
            margin-bottom: 2%;
        }
        .assign-buttons div{
            float: right;
            border: 1px solid #EAECFF;
            height: 8vh;
            width: 18vh;
            border-radius: 20px;
            margin-right: 5%;
            line-height: 8vh;
            text-align: center;
            cursor: pointer;
            background-color: #EAECFF;
            font-size: 1.2rem;
            box-shadow: 0px 4px 10px #D0D0D0;
        }
        .assign-bottom{
            height: 25vh;
            margin-left: 8%;
        }
        .assign-comment-title{
            height: 5vh;
            line-height: 5vh;
            font-size: 1.4rem;
        }
        .assign-comment{
            height: 18vh;
            width: 72vw;
        }

        .assign-back{
            float: right;
            margin-right: 8%;
            color: red;
            cursor: pointer;
            font-size: 1.2rem;
            font-weight: 700;
        }
        .assign-students{
            border: 1px solid #D0D0D0;
            box-shadow: 4px 4px 10px #D0D0D0;
            width: 20%;
            height: 9vh;
            line-height: 9vh;
            float: left;
            border-radius: 20px;
            margin-left: 4%;
            margin-top: 1%;
            cursor: pointer;
        }
        .assign-students:hover{
            background-color: #D0D0D0;
        }
        .none-assign{
            margin-left: auto;
            margin-right: auto;
            width: 15vw;
            margin-top: 20%;
            font-size: 1.5em;
        }

      @media screen and (max-width:1023px) {
        .side-bar{
            width: 20%;
        }
         .side-assign{
             font-size: 0.8rem;
         }
        .assign-container{
            width: 79%;
        }
        .assign-comment-title{
            font-size: 1rem;
        }
        .assign-buttons div{
            height: 6vh;
            width: 16vh;
            line-height: 6vh;
            font-size: 0.8rem;
        }
        .assign-title{
            font-size: 1.2rem;
        }
        .assign-content{
            font-size: 0.8rem;
            height: 24vh;
         }
        .side-title{
            font-size: 0.8rem;
        }
        .assign-comment-title{
             font-size: 1rem;
         }
         .assign-students{
             height: 6vh;
             line-height: 6vh;
             font-size: 0.8rem;
         }
      }

      @media screen and (max-width:767px) {
         .assign-buttons div{
             height: 4vh;
             width: 14vh;
             line-height: 4vh;
             font-size: 0.8rem;
         }
        .assign-buttons{
              height: 5vh;
              margin-top: 5%;
              margin-bottom: 2%;
         }
        .assign-content{
             font-size: 0.8rem;
             height: 30vh;
          }
          .assign-students{
              height: 6vh;
              line-height: 6vh;
              font-size: 0.8rem;
              width: 40%;
              margin-left: 6%;
          }
      }