<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">

<head>
    <title>Spring Thyme Seed Starter Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
            href="https://fonts.googleapis.com/css2?family=Lemon&family=Noto+Sans+KR:wght@100;300&display=swap"
            rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/studentMain.css">
</head>

<body>
<nav><span class="logo">Synergy</span><span class="logout">Logout</span></nav>

<dialog id="myDialog" aria-labelledby="wyn_title" aria-describedby="wyn_desc">
    <form name=frmSubmit>
        <div class="body">
            <div>
                <!--   임시임 꼭 변경해야함 -->
                <input type="text" name="refUserId" value="#S122" style="display:none"/>
                <!--    ref_user_id는 로그인 기능 통합 후에 따로 받아와야 함.  -->
                <input type="text" name="content" id="content" required/>
            </div>
            <div>
                <input type="date" name="endDate" id="end_date" required/>
            </div>
        </div>
        <div class="bottom">
            <div>
                <button type="submit" id="sub-name">저장하기</button>
            </div>
            <div>
                <button id="btnClose" aria-label="close" value="cancel"
                        style="margin-top: 3%; margin-bottom: 3%">취소
                </button>
            </div>
        </div>
    </form>
</dialog>

<div class="container">
    <div class="todo-list">
        <div class="todo-header">ToDo 리스트<span id="btnOpen" aria-haspopup="dialog" onClick="getPost('01')">+</span>
        </div>
        <th:block th:if="${todoList}!=null">
            <div id="btnOpen1" aria-haspopup="dialog">
                <div th:each="todo : ${todoList}">
                    <div class="todo">
                        <div class="todo-content" th:onclick="getPost('02',[[${todo.id}]], [[${todo}]])">
                            <span th:text="${todo.content}"></span>
                            <a th:href="@{/todo/delete/{id}(id=${todo.id})}" onclick="event.stopPropagation();"
                               class="del">Done</a>
                            <span th:text="${todo.endDate}"
                                  style="font-size: 0.7em; margin-right: 3%; color: blue; float: right"></span>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
        <th:block th:if="${todoList}==null">
            <div class="todo-content-empty" onclick="event.stopPropagation();"
                 style="cursor:default;">+ 버튼을 눌러 Todo를
                입력해주세요!
            </div>
        </th:block>
    </div>
    <div class="gong">
        <div class="gong-list">
            <div class="gong-content" th:each="todo : ${todoList}">
                id : <span th:text="${todo.id}"></span>
            </div>
        </div>
        <hr>
        <div class="button-area">
            <div class="button">과제 제출하기</div>
        </div>
    </div>
</div>

<script>
    const dialog = document.querySelector('dialog#myDialog'); // dialog 태그를 dialog 상수에 담음.

    // 구조 분해 할당, 변수 선언 키워드인 const나 let을 쓰고, 배열 형식으로 이름을 작성하고, 배열 수에 맞게, 배열 순서에 원하는 값을 넣어 대입
    const [btnOpen, btnOpen1, btnClose] = [
        document.querySelector('#btnOpen'), // btnOpen에 담김 (body button#btnOpen)
        document.querySelector('#btnOpen1'), // btnOpen에 담김 (body button#btnOpen)
        document.querySelector('#btnClose'), // btnClose에 담김 (dialog button#btnClose)
    ];

    // 여는 함수 / 닫는 함수, 굳이 안 만들어도 되지만 조금 더 타이핑을 줄이기 위해...
    function close() {
        dialog.close();
    }

    function show() {
        dialog.showModal();
    }

    function getPost(sig, id, todo) {
        let theForm = document.frmSubmit;
        let subText = document.getElementById("sub-name");
        let con = document.getElementById("content");

        if (sig == "01") {
            theForm.method = "post";
            theForm.action = "/todo/insert";
            subText.innerText = "저장하기";
            con.value = '';
        } else if (sig == "02") {
            theForm.method = "post";
            theForm.action = `/todo/update/${id}`;
            con.value = todo.content;
            subText.innerText = "수정하기";
        }
    }

    btnOpen.addEventListener('click', function () {
        show();
    })

    btnOpen1.addEventListener('click', function (evt) {
        if(evt.target.children[0].tagName == "SPAN"){
            show();
        }
    })
    btnClose.addEventListener('click', function () {
        close(); // close 버튼이 눌리면 닫는 함수 동작.
    })






















</script>

</body>
</html>